:root {
  --primary-color: 69, 123, 157;
  --secondary-color: 168, 218, 220;
  --contrast: 29, 54, 88;
  --contrast-secondary: 230, 57, 70;
  --background-color: 241, 250, 238;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* z-index: 10; */
}
input {
  font-family: inherit;
  font-size: inherit;
  color: rgb(var(--contrast));
  background-color: rgba(var(--secondary-color), 0.4);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 60%;
  transition: all 0.2s;
  margin-right: -0.25rem;
}
.button {
  color: rgb(var(--contrast));
}

#city-input:focus {
  outline: none;
  width: 70%;
  background-color: rgb(var(--secondary-color));
}

@media screen and (max-width: 400px) {
  form {
    width: 100%;
  }
  input {
    height: 10px;
  }
  .button {
    height: 100%;
  }
}
