@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap");

:root {
  --primary-color: 69, 123, 157;
  --secondary-color: 168, 218, 220;
  --contrast: 29, 54, 88;
  --contrast-secondary: 230, 57, 70;
  --background-color: 241, 250, 238;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  background-color: rgb(var(--background-color));
  min-height: 85vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.temperature {
  display: flex;
  align-items: center;
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
  justify-self: end;
  align-self: start;
}

.day {
  font-size: 50px;
  font-weight: 700;
}

.night {
  position: relative;
  top: 45px;
  left: -110px;
  font-size: 30px;
  font-weight: 400;
}

.weather {
  display: grid;
  grid-template-columns: repeat(1fr, auto);
  grid-template-rows: 1fr 1fr;
  margin-top: 10px;
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  /* justify-self: start; */
}

.rain {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  font-size: 25px;
  font-weight: 500;
  align-self: start;
  justify-self: start;
}

.wind {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  align-self: center;
  justify-self: start;
  font-size: 19px;
  font-weight: 200;
}
.search-container {
  width: 70%;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  justify-self: end;
}
.header {
  display: flex;
  margin: 0 60px 0 0;
  padding-bottom: 10px;
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
  align-self: end;
  justify-content: space-between;
  align-items: baseline;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
}
.city {
  font-weight: 400;
}
.header-date {
  font-weight: 200;
  word-spacing: 5px;
}
@media only screen and (max-width: 500px) {
  .header-date {
    margin: 0 30px 0 25px;
  }
}
@media only screen and (max-width: 400px) {
  .temperature {
    display: block;
    grid-row: 1 / span 2;
    align-self: center;
  }

  .day {
    font-size: 35px;
    font-weight: 400;
  }

  .night {
    top: 0;
    left: 0;
  }

  .weather {
    margin-top: 10px;
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    justify-self: center;
  }

  .rain {
    font-size: 25px;
    font-weight: 500;
  }

  .wind {
    padding-top: 10px;
    font-size: 19px;
    font-weight: 200;
  }

  .header-date {
    margin: 0 10px 0 15px;
  }
}
